body {
  font-family: "Urbanist", sans-serif;
  background-image: url("public/weather-app-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  background-color: white;
  max-width: 600px;
  padding: 30px;
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: rgba(65, 50, 100, 0.08) 0px 30px 50px 0px;
}
