.Weather hr {
  border: 1px solid rgba(27, 27, 79, 0.06);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.search-input {
  width: 78%;
  color: #1b1b4f;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 6px;
  background-color: rgba(27, 27, 79, 0.08);
  padding: 15px;
}

.search-button {
  background-color: #1b1b4f;
  color: white;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 6px;
  margin-left: 5px;
  padding: 15px 30px;
}

.weather-app-city {
  display: block;
  font-size: 48px;
  line-height: 48px;
  font-weight: 400;
  margin: 10px 0;
}

.weather-details {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 24px;
}

.Weather strong {
  color: #324577;
}

.weather-app-temperature-container {
  display: flex;
  justify-content: left;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-temperature {
  display: block;
  font-size: 90px;
  line-height: 1;
  margin: 0;
}

.weather-conditions-icon {
  font-size: 48px;
}

.weather-temperature {
  display: flex;
}

.weather-app-temperature-unit {
  display: flex;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 5px;
}

.weather-forecast {
  padding: 10px;
}
